<h3>Shelters:</h3>

  <% @shelters.each do |shelter| %>
    <section id='shelter-<%= shelter.id %>>
      <p><%= shelter.name %></p>
      <p><%= link_to 'Edit', "/shelters/#{shelter.id}/edit" %></p>
    </section>
  <% end %>

<%= link_to 'New Shelter', '/shelters/new' %>
